<!-- lowcode/templates/lowcode_designer/index.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Icent 工业低代码平台{% endblock %}

{% block extra_css %}
    <!-- 低代码设计器专属样式 -->
    <link rel="stylesheet" crossorigin href="{% static 'lowcode_designer/assets/element-plus-BaI2aKL6.css' %}">
    <link rel="stylesheet" crossorigin href="{% static 'lowcode_designer/assets/index-CZ4yUnaF.css' %}">
{% endblock %}

{% block content %}
    <!-- 低代码设计器应用容器 -->
    <div id="app"></div>
{% endblock %}

{% block extra_js %}
    <!-- 预加载依赖 -->
    <link rel="modulepreload" crossorigin href="{% static 'lowcode_designer/assets/@vue-D4ddg5YP.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'lowcode_designer/assets/lodash-es-C-8JW18d.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'lowcode_designer/assets/@vueuse-2nrTByN5.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'lowcode_designer/assets/@element-plus-rwYtm5Wk.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'lowcode_designer/assets/@popperjs-DB1lLFnh.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'lowcode_designer/assets/@ctrl-BuyEbX8F.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'lowcode_designer/assets/dayjs-DVKSwKij.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'lowcode_designer/assets/async-validator-Cp9QasH9.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'lowcode_designer/assets/memoize-one-BdPwpGay.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'lowcode_designer/assets/normalize-wheel-es-BikNlmlf.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'lowcode_designer/assets/@floating-ui-BiT_2Uhe.js' %}">
    <link rel="modulepreload" crossorigin href="{% static 'lowcode_designer/assets/element-plus-kFNNpB85.js' %}">

    <!-- 低代码设计器入口脚本 -->
    <script type="module" crossorigin src="{% static 'lowcode_designer/assets/index-Czj_b5-z.js' %}"></script>
{% endblock %}

{% block extra_head %}
    <!-- 覆盖base.html的favicon，使用设计器专属图标 -->
    <link rel="icon" href="{% static 'lowcode_designer/favicon.ico' %}" />
{% endblock %}