<!-- index.html -->
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/static/frontend/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Icent 工业低代码平台</title>
    <script type="module" crossorigin src="/static/frontend/assets/index-DdZ8p-nJ.js"></script>
    <link rel="stylesheet" crossorigin href="/static/frontend/assets/index-BUoLgWFu.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
